.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper p {
  font-weight: 800;
  align-self: center;
  margin-bottom: 0;
}


.wrapper img {
  max-width: 100%;
}

@media (min-width: 750px) {
  .wrapper {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    font-size: 2rem;
  }
}
