.template {
  border-radius: 10px;
  width: 280px;
  height: 100px;
  padding: 5px 10px;
  background-color: #FFCD32;
}

.template:hover {
  cursor: pointer;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.board__name {
  font-weight: 800;
  font-size: 1.2rem;
  color: #1890ff;
}

.board__buttons {
  display: flex;
}

.board__hr {
  border-color: #1890ff;
}

.board__description {
  max-height: 45px;
  overflow: auto;
}
